[submodule "nodejs"]
	path = nodejs
	url = git@github.com:luizwhite/nlw-heat-node.git
[submodule "reactjs"]
	path = reactjs
	url = git@github.com:luizwhite/nlw-heat-reactjs.git
[submodule "expo"]
	path = expo
	url = git@github.com:luizwhite/nlw-heat-expo.git
[submodule "elixir"]
	path = elixir
	url = git@github.com:luizwhite/nlw-heat-elixir.git
